{% extends 'base.html.twig' %}

{% block body %}

    <div class="filtres" style="background-color: #FAF6F6;height:100px;width:100%;">
        <div class="butons">
          <div class="row">
              <div class="btn-group">
                  <button class="btn btn-light btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Style
                  </button>
                  <div class="dropdown-menu">
                      ...
                  </div>
              </div>
              <div class="btn-group">
                  <button class="btn btn-light btn-sm" type="button">
                      Artiste
                  </button>
                  <button type="button" class="btn btn-sm btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <div class="dropdown-menu">
                      ...
                  </div>
              </div>
              <div class="btn-group">
                  <button class="btn btn-light btn-sm" type="button">
                      Album
                  </button>
                  <button type="button" class="btn btn-sm btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <div class="dropdown-menu">
                      ...
                  </div>
              </div>
              <a href=""><i class="fa fa-sync-alt"></i></a>
          </div>

        </div>
    </div>

    <div class="article">
        <div class="row margecontent">
                <!--Le faire avec des div class="card"-->
                <div class="col">
                    <div class="card" style="width: 15rem;">
                        <div class="card-body">
                            <img src="{{ asset('assets/img/album1.jpg') }}" class="card-img-top">
                            <h5 class="card-title">Titre Album</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Prix</h6>
                            <p class="card-text">Petite description</p>
                            <a href="#" class="card-link">Ajout Panier</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card" style="width: 15rem;">
                        <div class="card-body">
                            <img src="{{ asset('assets/img/album2.jpg') }}" class="card-img-top">
                            <h5 class="card-title">Titre Album</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Prix</h6>
                            <p class="card-text">Petite description</p>
                            <a href="#" class="card-link">Ajout Panier</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card" style="width: 15rem;">
                        <div class="card-body">
                            <img src="{{ asset('assets/img/album3.jpg') }}" class="card-img-top">
                            <h5 class="card-title">Titre Album</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Prix</h6>
                            <p class="card-text">Petite description</p>
                            <a href="#" class="card-link">Ajout Panier</a>
                        </div>
                    </div>
                </div>

        </div>
    </div>

{% endblock %}