{% extends 'base.html.twig' %}

{% block body %}



    <div class="container article">
        <div class="row">
            <div class="col-6 col-sm-4">
                <div class="card" style="width: 14rem;">
                    <div class="card-body">
                        <img src="{{ asset('assets/img/album1.jpg') }}" class="card-img-top">
                        <h5 class="card-title">Titre Album</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Prix</h6>
                        <p class="card-text">Petite description</p>
                        <a href="#" class="card-link">Ajout Panier</a>
                    </div>
                </div>
            </div>

            <div class="col-6 col-sm-4">
                <div class="card" style="width: 14rem;">
                    <div class="card-body">
                        <img src="{{ asset('assets/img/album2.jpg') }}" class="card-img-top">
                        <h5 class="card-title">Titre Album</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Prix</h6>
                        <p class="card-text">Petite description</p>
                        <a href="#" class="card-link">Ajout Panier</a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4">
                <div class="card" style="width: 14rem;">
                    <div class="card-body">
                        <img src="{{ asset('assets/img/album3.jpg') }}" class="card-img-top">
                        <a href="{{ path('album_show', {'id': album.id}) }}"> <h5 class="card-title">Titre Album</h5></a>
                        <h6 class="card-subtitle mb-2 text-muted">Prix</h6>
                        <p class="card-text">Petite description</p>
                        <a href="#" class="card-link">Ajout Panier</a>
                    </div>
                </div>
            </div>


        </div>
    </div>

{% endblock %}