{% extends 'base.html.twig' %}

{% block title %}Edit Style{% endblock %}

{% block body %}
    <h1>Modifier style :</h1>

    {{ include('style/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('style_index') }}">Retour à la liste des styles</a>

    {{ include('style/_delete_form.html.twig') }}
{% endblock %}
