{% extends 'base.html.twig' %}

{% block title %}Style index{% endblock %}

{% block body %}
    <h1>Tout les styles :</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for style in styles %}
            <tr>
                <td>{{ style.nomStyle }}</td>
                <td>
                    <a href="{{ path('style_show', {'id': style.id}) }}">Voir</a>
                    <a href="{{ path('style_edit', {'id': style.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('style_new') }}">Create new</a>
{% endblock %}
