{% extends 'base.html.twig' %}

{% block title %}New Style{% endblock %}

{% block body %}
    <h1>Ajouter un style :</h1>

    {{ include('style/_form.html.twig') }}

    <a href="{{ path('style_index') }}">Retour à la liste des styles</a>
{% endblock %}
