{% extends 'base.html.twig' %}

{% block title %}Style{% endblock %}

{% block body %}
    <h1>Style</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Style</th>
                <td>{{ style.nomStyle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('style_index') }}">Retour à la liste</a>

    <a href="{{ path('style_edit', {'id': style.id}) }}">Modifier le style</a>

    {{ include('style/_delete_form.html.twig') }}
{% endblock %}
