html {
    position: relative;
    min-height: 100%;

}

.mr-sm-2 {
    width:200px !important;
}

.searchbar {
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 350px; /* largeur obligatoire pour être centré */
}

body {
    font-family: 'Muli', sans-serif !important;
    min-height: 100vh !important;
}


.filtres .btn{
    margin-top: 0px !important;
    font-size: 12px;
}


.navbar-brand {
    font-family: 'Kulim Park', sans-serif;
    font-weight: bold;
    font-size: 28px !important;
    margin-left: 17px;
}

.margecontent {
    margin-top: 50px !important;
    margin-right: 60px !important;
    margin-left: 50px !important;
}

hr {
    border:1px solid gray;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}


.card-body{
    padding: 0 !important;
}
.card-body img{
    margin: 0;
    width:100% !important;
    height:230px!important;
}
footer{
    bottom: 0 !important;
    position: absolute;
    width: 100%;
    height: auto;
}

.nopadding {
    margin-left: 15px;
    padding: 0 !important;
    font-size: 11px;
    color: #007bff !important;

}

.nopadding:hover{
    color: slategray;
}

.nav-item a{
    color: #e0e0e0;
}

.nav-item i{
    color: gray;
}

.nav-item .fa{
    font-size: 22px;
}

.nav-item a:hover{
    color: #007bff;
}

.admintitle{
    margin-top: 35px;
    background-color: #f3f3f3;
}

.nombre .badge{
    margin-left: 25px;
}

.footicon i {
    color: white;
}

.jumbotron{
    text-align: center;
}

.formNew {
    margin-top: 50px !important;
    margin-bottom: 200px;
}
