/*====================
	Body
====================== */


html {
    position: relative;
    min-height: auto;
}

body {
    font-family: 'Muli', sans-serif !important;
    height: auto !important;
    width:100% !important;
}

/*====================
	Navbar
====================== */

@media (min-width:900px) {
    .navmobile {
        display: none;
    }
    .navlaptop {
        display: block;
    }
}

@media  (max-width:900px) {
    .navmobile {
        display: block;
    }
    .navlaptop {
        display: none;
    }

    footer {
        display: none;
    }
}
/*.mr-sm-2 {
    width:200px !important;
}*/

.nav-item a{
    color: #e0e0e0;
}

.nav-item i{
    color: gray;
}

.nav-item .fa{
    font-size: 22px;
}

.nav-item a:hover{
    color: #007bff;
}


.searchbar {
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 350px; /* largeur obligatoire pour être centré */
}

.filtres .btn{
    margin-top: 0px !important;
    font-size: 12px;
}


.navbar-brand {
    font-family: 'Kulim Park', sans-serif;
    font-weight: bold;
    font-size: 28px !important;
    margin-left: 17px;
}

.margecontent {
    margin-top: 50px !important;
    margin-right: 60px !important;
    margin-left: 50px !important;
}

hr {
    border:1px solid gray;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

/*====================
	Produits
====================== */
.card-body{
    padding: 0 !important;
}
.card-body img{
    margin: 0;
    width:100% !important;
    height:230px!important;
}

.nopadding {
    margin-left: 15px;
    padding: 0 !important;
    font-size: 11px;
    color: #007bff !important;

}

.nopadding:hover{
    color: slategray;
}


.admintitle{
    margin-top: 35px;
    background-color: #f3f3f3;
}

.nombre .badge{
    margin-left: 25px;
}

.footicon i {
    color: white;
}

.jumbotron{
    text-align: center;
    background-color: #3C3B40 !important;
    color: #dfdfdf;
}

.formNew {
    margin-top: 50px !important;
    margin-bottom: 200px;
}


/*====================
	Footer
====================== */

footer{
    padding: 20px;
    bottom: 0 !important;
    position: absolute;
    height: auto;
    width: 100%;

}

footer ul {
    list-style: none;
}

footer p {
    color: #FFFFFF;
    margin-top: 25px;
}

footer h5{
    color: #dfdfdf;
}





