{% extends 'base.html.twig' %}

{% block title %}New Album{% endblock %}

{% block body %}
    <h1>Ajouter un album</h1>

    {{ include('album/_form.html.twig') }}

    <a href="{{ path('album_index') }}">Retour à la liste</a>
{% endblock %}
