{% extends 'base.html.twig' %}

{% block title %}New EtatCommande{% endblock %}

{% block body %}
    <h1>Create new EtatCommande</h1>

    {{ include('etat_commande/_form.html.twig') }}

    <a href="{{ path('etat_commande_index') }}">back to list</a>
{% endblock %}
