<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}VynilShop{% endblock %}</title>
        <link rel="stylesheet" href=" {{ asset('assets/css/style.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Kulim+Park|Muli&display=swap" rel="stylesheet">

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
            <nav class="navbar navbar-dark bg-dark">
                <a class="navbar-brand" href="/">Vinyl Shop</a>

                    <ul class="nav justify-content-end ">
                        <li class="nav-item">
                            <a class="nav-link" href="/style">Styles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/album/nouveau">Nouveautés</a>
                        </li>
                        <form class="form-inline" action="/album/recherche" method="get">
                            <input class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Search" name="search">
                            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
                        </form>
                        <li class="nav-item">
                            <a class="nav-link"><i class="fa fa-user"> </i></a>
                        </li>
                        {% if not app.user %}
                        <div class="row">
                            <li class="nav-item">
                            <a class="nopadding nav-link" href="/login">Se connecter</a>
                            </li>
                            <div class="w-100" style="height:0px;"></div>
                            <li class="nav-item">
                                <a class="nopadding nav-link" href="/register">S'inscrire</a>
                            </li>
                        </div>
                        {% endif %}
                        {% if app.user %}
                        <div class="row">
                            <li class="nav-item">
                                <a class="nopadding nav-link" href="/logout">Se déconnecter</a>
                            </li>
                        </div>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="/panier"><i class="fa fa-shopping-bag"> </i><span class="badge badge-primary" style="margin-top:4px;"></span></a>
                        </li>
                    </ul>

            </nav>



            {% block body %}{% endblock %}




        <footer class="page-footer bg-dark">
            <div class="container">
            <div class="row">

                <!-- Grid column -->
                <div class="footicon col-md-12">

                        <!-- Facebook -->
                        <a class="fb-ic">
                            <i class="fa fa-facebook-f white"> </i>
                        </a>
                        <!-- Twitter -->
                        <a class="tw-ic">
                            <i class="fa fa-twitter"> </i>
                        </a>
                        <!--Instagram-->
                        <a class="ins-ic">
                            <i class="fa fa-instagram"> </i>
                        </a>

                </div>
            </div>
            </div>
                <!-- Grid column -->
                <div class="footer-copyright text-center py-3"> 2020 Copyright:
                    <a href="https://mdbootstrap.com/education/bootstrap/"> VinylShop.com</a>
                </div>

        </footer>


    {% block javascripts %}{% endblock %}
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>
